/*
 * Stylesheets for UserCountryMap
 */

#UserCountryMap_map svg path {
    stroke-linejoin: round;
}

#UserCountryMap_map svg .countries {
    stroke-width: 0.5px;
    cursor: pointer;
    stroke: #545C6D;
}

#UserCountryMap_map svg .context {
    stroke: #BBBBBB;
    fill: #F6F5F3;
    stroke-width: 0.5px;
}

#UserCountryMap_map svg .context-clickable {
    stroke: #BBBBBB;
    fill: #F2F1ED;
    stroke-width: 0.5px;
    cursor: pointer;
}

#UserCountryMap_map svg .context-clickable:hover {
    fill: #E4E2D7;
}

#UserCountryMap_map svg .regionBG {
    stroke: #fff;
    fill: #fff;
    stroke-width: 5px;
}

#UserCountryMap_map svg .countryBG {
    stroke: #fff;
    fill: #fff;
    stroke-width: 4px;
}

#UserCountryMap_map svg .regions {
    stroke: #3C6FB6;
    stroke-width: 1px;
}

#UserCountryMap_map svg .countryLabel {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    fill: #666;
    font-size: 10px;
}

#UserCountryMap_map svg .bubble:hover {
    stroke: #000;
    stroke-width: 2px;
}
