/*
 * Stylesheets for UserCountryMap
 */

#UserCountryMap_map svg path {
    stroke-linejoin: round;
}

#UserCountryMap_map svg .countries {
    stroke-width: 0.5px;
    cursor: pointer;
    stroke: #545C6D;
}

#UserCountryMap_map svg .context {
    stroke: #BBBBBB;
    fill: #F6F5F3;
    stroke-width: 0.5px;
}

#UserCountryMap_map svg .context-clickable {
    stroke: #BBBBBB;
    fill: #F2F1ED;
    stroke-width: 0.5px;
    cursor: pointer;
}

#UserCountryMap_map svg .context-clickable:hover {
    fill: #E4E2D7;
}

#UserCountryMap_map svg .regionBG {
    stroke-width: 6px;
    stroke: #fff;
    fill: none;
}
#UserCountryMap_map svg .regionBG-fill {
    stroke: #555;
    stroke-width: 0.2px;
    fill: #F6F5F3;
}


#UserCountryMap_map svg .regionBG-3 {
    stroke: #ccc;
    fill: #F2F1ED;
    stroke-width: 1px;
}


#UserCountryMap_map svg .countryBG {
    stroke: #fff;
    fill: #fff;
    stroke-width: 4px;
}

#UserCountryMap_map svg .regions {
    stroke-width: 1px;
}

#UserCountryMap_map svg .regions2 {
    stroke-width: 1px;
    stroke: #aaa;
    fill: #fff;
}

#UserCountryMap_map svg .countryLabelBg {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    fill: #F6F5F3;
    stroke: #F6F5F3;
    stroke-width: 3px;
    stroke-linejoin; round;
    stroke-linecap; round;
    font-weight: bold;
    font-size: 10px;
}

#UserCountryMap_map svg .countryLabel {
    font-family: Arial,Verdana,Helvetica,sans-serif;
    fill: #808888;
    font-weight: bold;
    font-size: 10px;
}

#UserCountryMap_map svg .bubble {
    fill-opacity: 0.7;
    /fill: #5170AE;
    /stroke: #fff;
    stroke-width: 1px;
}

#UserCountryMap_map svg .bubble:hover {
    stroke: #5170AE!important;
    fill-opacity: 1!important;
    stroke-width: 4px!important;
    stroke-opacity: 0.2;
}

#UserCountryMap-black {
    background: #D5D3C8;
    position: absolute;
    left: 0;
    right: 0;
    width: 1000px;
    height: 1000px;
    z-index: 999990;
}


#UserCountryMap .loadingPiwik {
    position: absolute!important;
    top: 42%!important;
    left: 10px!important;
    right: 10px!important;
    z-index: 999999!important;
    vertical-align: middle!important;
    display: block;
    color: #000;
    text-shadow: 0 0 5px #fff;
    text-align: center;
}

.tableIcon.inactiveIcon {
    color: #99a;
}