<p>{{ 'Installation_CannotConnectToDb'|translate }}:</p>

<p><strong>{{ exceptionMessage }}</strong></p>

<p>{{ 'Installation_CannotConnectToDbResolvingExplanation'|translate('<a href="javascript:window.location.reload()">', '</a>')|raw }}</p>