{% extends '@Installation/layout.twig' %}

{% block content %}

    <script type="text/javascript">
        $(function () {
            // client-side test for https to handle the case where the server is behind a reverse proxy
            if (document.location.protocol === 'https:') {
                $('p.next-step a').attr('href', $('p.next-step a').attr('href') + '&clientProtocol=https');
            }
        });
    </script>

    {% if not showNextStep %}
        {% include "@Installation/_systemCheckLegend.twig" %}
        <br style="clear:both;">
    {% endif %}

    <h2>{{ 'Installation_SystemCheck'|translate }}</h2>

    {% include "@Installation/_systemCheckSection.twig" %}

    {% if not showNextStep %}
        <p>
            <span class="icon-export"></span>
            <a target="_blank" rel="noreferrer noopener" href="https://matomo.org/docs/requirements/">{{ 'Installation_Requirements'|translate }}</a>
        </p>
        {% include "@Installation/_systemCheckLegend.twig" %}
    {% endif %}

{% endblock %}
