{% extends isWidgetized ? 'empty.twig' : 'dashboard.twig' %}

{% block root %}
    {% set hideTopControls = true %}
    {{ parent() }}
{% endblock %}

{% block content %}
    <div class="row" id="multisitesAllWebsitesDashboard">
        <div class="col s12 m12 l10 offset-l1">
            {% if isWidgetized %}
                <div id="main">
            {% else %}
                <div id="main" class="card">
                    <div class="card-content">
            {% endif %}

            <div vue-entry="MultiSites.AllWebsitesDashboard"></div>

            {% if isWidgetized %}
                </div>
            {% else %}
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
