{% extends isWidgetized ? 'empty.twig' : 'dashboard.twig' %}

{% block content %}
{% if not isWidgetized %}
    <div class="top_controls">
        {% include "@CoreHome/_periodSelect.twig" %}
        {% include "@CoreHome/_headerMessage.twig" %}
    </div>
{% endif %}

<div class="pageWrap" id="multisites">
    <div id="main">
        <div piwik-multisites-dashboard
             class="centerLargeDiv"
             display-revenue-column="{% if displayRevenueColumn %}true{% else %}false{%endif%}"
             page-size="{{ limit }}"
             show-sparklines="{% if show_sparklines %}true{% else %}false{%endif%}"
             date-sparkline="{{ dateSparkline }}"
             auto-refresh-today-report="{{ autoRefreshTodayReport }}">
        </div>
    </div>
</div>
{% endblock %}
