{% extends 'admin.twig' %}

{% block content %}
<div piwik-content-block
     content-title="Set up two-factor authentication (2FA)">
    {% include '@TwoFactorAuth/_setupTwoFactorAuth.twig' %}
</div>
{% endblock %}