{% extends 'admin.twig' %}

{% block content %}
    <div
        vue-entry="TwoFactorAuth.ShowRecoveryCodesPage"
        codes="{{ codes|default(null)|json_encode }}"
        regenerate-success="{{ regenerateSuccess|default(null)|json_encode }}"
        regenerate-error="{{ regenerateError|default(null)|json_encode }}"
        regenerate-nonce="{{ regenerateNonce|json_encode }}"
    ></div>
{% endblock %}