<div piwik-content-block
     content-title="Two Factor Authentication (2FA)">

    <p>
        two factor authentication increase your account security...
    </p>

    {% if isEnabled %}
        <p>Two-factor authentication is currently enabled.</p>

        {% if isForced %}
            <p>The Super User forces two-factor authentication to be enabled for everyone, you cannot disable it.

                <button class="btn btn-link"
                        ng-controller="TwoFactorAuthController as twoFactorAuth"
                        ng-click="twoFactorAuth.configureDifferentDevice()">Configure a different device</button>
            </p>

        {% else %}
            <p>

                <button class="btn btn-link"
                        ng-controller="TwoFactorAuthController as twoFactorAuth"
                        ng-click="twoFactorAuth.configureDifferentDevice()">Configure a different device</button>

                <button class="btn btn-link"
                        ng-controller="TwoFactorAuthController as twoFactorAuth"
                        ng-click="twoFactorAuth.disable2fa()">Disable 2FA</button>
            </p>
        {% endif %}
    {% else %}
        <button class="btn btn-link"
                ng-controller="TwoFactorAuthController as twoFactorAuth"
                ng-click="twoFactorAuth.enable2fa()">Enable 2FA now</button>
    {% endif %}

</div>
