<div
    vue-entry="TwoFactorAuth.UserSettings"
    is-enabled="{{ isEnabled|default(null)|json_encode }}"
    is-forced="{{ isForced|default(null)|json_encode }}"
    disable-nonce="{{ disableNonce|json_encode }}"
></div>
