<p style="margin-top:3em" class=" alert-info alert">Did you know?
    <br/> <a target="_blank" rel="noreferrer noopener" href="https://matomo.org/docs/tracking-campaigns/">Campaign tracking</a> lets you measure the effectiveness of your marketing campaigns such as emails marketing, paid search, banner ads, affiliates links, etc.
    Use the <a target="_blank" rel="noreferrer noopener" href="https://matomo.org/docs/tracking-campaigns/">URL Builder tool</a> to create your links with new URL campaign parameters.
    {% if displayMarketingCampaignsReportingAd %}
        <br/> Install our <a target="_blank" rel="noreferrer noopener" href="https://plugins.matomo.org/MarketingCampaignsReporting">Marketing Campaigns Reporting plugin</a> to get even more campaigns reports and new segments for up to five marketing channels (campaign, source, medium, keyword, content).
    {% endif %}
    {% if multiChannelConversionAttributionAd %}
        <br />
        Discover how much each campaign truly contributes to your success by applying attribution models using the <a target="_blank" rel="noreferrer noopener" href="https://plugins.piwik.org/MarketingCampaignsReporting">Multi Channel Conversion Attribution</a> premium feature.
    {% endif %}
</p>
