<p style="margin-top:1em" class=" alert-info alert">Did you know?
    <br/> With the <a target="_blank" rel="noreferrer noopener" href="https://plugins.piwik.org/CustomReports">Custom Reports</a> premium feature you can pull out the information you need in a matter of seconds.
</p>
