<p style="margin-top:24px;font-size:13px;" class="alert-info alert">Did you know?
    With <a target="_blank" rel="noreferrer noopener" href="https://matomo.org/recommends/heatmap-session-recording-learn-more/">Heatmap & Session Recording</a> you understand your visitors much better. See where your visitors click, move the mouse, scroll, type, and more.
</p>
