<p style="margin-top:8px" class="alert-info alert">Did you know?
    With <a target="_blank" rel="noreferrer" href="https://piwik.org/recommends/heatmap-session-recording-learn-more/">Heatmap & Session Recording</a> you can record all clicks, mouse movements, scrolls and form interactions of your visitors and replay them in a video to truly understand your visitors.
</p>