<p class="alert-info alert">Did you know?<br />
    Use
    <a target="_blank" rel="noreferrer noopener" href="https://matomo.org/recommends/seo-web-vitals/">
        SEO Web Vitals
    </a>
    to improve your website performance, rank higher in search results and optimise your visitor
    experience with SEO Web Vitals.
</p>
