{# This header is for loading the dashboard in stand alone mode #}
<!DOCTYPE html>
<html id="ng-app" ng-app="piwikApp">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex,nofollow">
    <meta name="google" content="notranslate">
    <meta http-equiv="x-ua-compatible" content="IE=EDGE,chrome=1" >
    <title>{{ 'Dashboard_Dashboard'|translate }} - {{ 'CoreHome_WebAnalyticsReports'|translate }}</title>
    <link rel="stylesheet" type="text/css" href="plugins/Dashboard/stylesheets/standalone.css" />
{% include "_jsGlobalVariables.twig" %}
{% include "_jsCssIncludes.twig" %}
</head>
<body id="standalone" ng-app="app">
<div piwik-popover-handler></div>
