{# This header is for loading the dashboard in stand alone mode #}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="IE=EDGE,chrome=1" >
    <title>{{ 'Dashboard_Dashboard'|translate }} - {{ 'CoreHome_WebAnalyticsReports'|translate }}</title>

    <!--[if lt IE 9]>
        <script language="javascript" type="text/javascript" src="libs/jqplot/excanvas.min.js"></script>
    <![endif]-->

    <link rel="stylesheet" type="text/css" href="plugins/Dashboard/stylesheets/standalone.css" />
{% include "_jsGlobalVariables.twig" %}
{% include "_jsCssIncludes.twig" %}
</head>
<body id="standalone">
