<div
    vue-entry="Marketplace.UploadPluginDialog"
    is-plugin-upload-enabled="{{ isPluginUploadEnabled|default(null)|json_encode|e('html_attr') }}"
    upload-limit="{{ uploadLimit|default(null)|json_encode|e('html_attr') }}"
    install-nonce="{{ installNonce|default(null)|json_encode|e('html_attr') }}"
></div>
