#header_message>.title {
    visibility: hidden;
}

.visitor-profile-widget-link>strong {
    display:none;
}

.visitor-profile-important-visits>div>div>p:first-child {
    display:none;
}

span.plugin-version {
    visibility:hidden;
}

/* add some space around the segment editor & other controls so screenshots are clearer */
.widget>.segmentEditorPanel, .widget>.dashboardSettings, .widget>.sites_autocomplete, .widget>.periodSelector {
    margin-top:1em;
    margin-bottom:1em;
    margin-left:1em;
}

body > .widget {
    overflow: visible !important;
}

.ui-dialog-content {
    overflow-y: hidden !important;
}

/* Verdana does not have the down arrow U+2193 */
.dashboard-manager .addWidget, .dashboard-manager .manageDashboard {
    font-family: Arial !important;
}

#logo .description a {
    font-family: Arial !important;
}

.providerDescription {
    border-style: solid;
}

/* do not display RSS feed widget's contents */
#widgetExampleRssWidgetrssPiwik .rss {
    display:none;
}