#header_message>.header_short {
    display:none;
}

.visitor-profile-widget-link>strong {
    display:none;
}

.visitor-profile-important-visits>div>div>p:first-child>span {
    display:none;
}

span.plugin-version {
    visibility:hidden;
}

/* add some space to the top of the segment editor so screenshots are clearer */
.widget #segmentEditorPanel {
    margin-top:1em;
}