<table class="entityTable">
    {% for name,image in itemList %}
        <tr>
            <td><img height="16px" width="16px" src="{{ image }}" /> {{ name }}</td>
        </tr>
    {% endfor %}
</table>
