[submodule "plugins/SecurityInfo"]
    path = plugins/SecurityInfo
    url = https://github.com/piwik/plugin-SecurityInfo.git
    branch = master
[submodule "plugins/TreemapVisualization"]
    path = plugins/TreemapVisualization
    url = https://github.com/piwik/plugin-TreemapVisualization.git
    branch = master
[submodule "plugins/VisitorGenerator"]
    path = plugins/VisitorGenerator
    url = https://github.com/piwik/plugin-VisitorGenerator.git
    branch = master
[submodule "plugins/CustomAlerts"]
    path = plugins/CustomAlerts
    url = https://github.com/piwik/plugin-CustomAlerts.git
    branch = master
[submodule "plugins/TasksTimetable"]
    path = plugins/TasksTimetable
    url = https://github.com/piwik/plugin-TasksTimetable.git
    branch = master
[submodule "plugins/LoginHttpAuth"]
    path = plugins/LoginHttpAuth
    url = https://github.com/piwik/plugin-LoginHttpAuth.git
    branch = master
[submodule "plugins/QueuedTracking"]
    path = plugins/QueuedTracking
    url = https://github.com/piwik/plugin-QueuedTracking.git
    branch = master
[submodule "tests/UI/expected-ui-screenshots"]
    path = tests/UI/expected-ui-screenshots
    url = https://github.com/piwik/piwik-ui-tests.git

# Note: when you add a submodule that SHOULD be left in the packaged release such as the few submodules below,
#       then you MUST add these submodules names in the SUBMODULES_PACKAGED_WITH_CORE variable in:
#       https://github.com/piwik/piwik-package/blob/master/scripts/build-package.sh


[submodule "libs/PiwikTracker"]
    path = libs/PiwikTracker
    url = https://github.com/piwik/piwik-php-tracker.git
    branch = master
