build
crossdomain.xml
documentation
favicon.ico
logs
piwik-min.js
robots.txt
tmp
tmp/*
.cache
.externalToolBuilders
.htaccess
.idea
.metadata
.settings
.project
*.tmp
*.db
*.buildpath
config/config.ini.php
.DS_Store
tests/PHPUnit/Integration/processed/
tests/lib/visualphpunit/app/resource/cache/
tests/results/
tests/lib/geoip-files/
