[submodule "plugins/PleineLune"]
	path = plugins/PleineLune
	url = https://github.com/piwik/theme-PleineLune.git
	branch = master
[submodule "plugins/SecurityInfo"]
	path = plugins/SecurityInfo
	url = https://github.com/piwik/plugin-SecurityInfo.git
	branch = master
[submodule "plugins/TreemapVisualization"]
	path = plugins/TreemapVisualization
	url = https://github.com/piwik/plugin-TreemapVisualization.git
	branch = master
[submodule "plugins/VisitorGenerator"]
	path = plugins/VisitorGenerator
	url = https://github.com/piwik/plugin-VisitorGenerator
	branch = master
[submodule "tests/PHPUnit/UI"]
	path = tests/PHPUnit/UI
	url = https://github.com/piwik/piwik-ui-tests.git
	branch = master
[submodule "plugins/CustomAlerts"]
	path = plugins/CustomAlerts
	url = https://github.com/piwik/plugin-CustomAlerts.git
	branch = master

[submodule "plugins/TasksTimetable"]
	path = plugins/TasksTimetable
	url = https://github.com/piwik/plugin-TasksTimetable.git
