php_errors.log
*.tmp
*.pyc
.DS_Store
/.idea/
/bootstrap.php
/build
/composer.phar
/config/config*
/config/*.pem
/crossdomain.xml
/documentation
/docs/
/favicon.ico
/js/yui*
/misc/*.mmdb
/misc/*.dat
/misc/*.dat.gz
/misc/user/logo-header.png
/misc/user/logo.png
/misc/user/logo.svg
/misc/user/favicon.png
/piwik-min.js
/plugins/*.zip
/plugins/ImageGraph/fonts/unifont.ttf
/plugins/ImageGraph/fonts/unifont.ttf.zip
/plugins/*/tests/System/processed
/plugins/*/Test/System/processed
/plugins/*/tests/UI/processed-ui-screenshots
/plugins/*/Test/UI/processed-ui-screenshots
/plugins/*/tests/UI/screenshot-diffs
/plugins/*/Test/UI/screenshot-diffs
/robots.txt
/tmp/*
!/tmp/.gitkeep
/vendor/
/.cache
/.externalToolBuilders
/.idea/*
/.metadata
/.project
/.settings
/*.buildpath
/tests/javascript/unittest.dbf
/tests/javascript/unittest2.dbf
/tests/lib/geoip-files/*.dat*
/tests/lib/xhprof*
/tests/PHPUnit/System/processed/
/tests/PHPUnit/phpunit.xml
/tests/results/
/.htaccess
/config/.htaccess
/core/.htaccess
/js/.htaccess
/lang/.htaccess
/libs/.htaccess
/misc/.htaccess
/misc/cron/.htaccess
/plugins/.htaccess
/tests/resources/overlay-test-site-real/
/tests/PHPUnit/proxy/libs
/tests/PHPUnit/proxy/piwik.js
/tests/PHPUnit/proxy/plugins
/tests/PHPUnit/proxy/tests
/tests/resources/piwik.test.js
/config/*.config.ini.php
/Vagrantfile
/misc/vagrant
/.vagrant
/plugins/.gitignore
