build
crossdomain.xml
documentation
favicon.ico
logs
piwik-min.js
robots.txt
tmp
tmp/*
.cache
.externalToolBuilders
.htaccess
.idea
.metadata
.settings
.project
*.tmp
*.db
*.buildpath
config/config.ini.php
tests/PHPUnit/Integration/processed/*
tests/PHPUnit/phpunit.xml
tests/lib/visualphpunit/app/resource/cache/*
