<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="config" />
          <add segment="core" />
          <add segment="lang" />
        </hiddenSegments>
        <fileExtensions>
          <add fileExtension=".tpl" allowed="false" />
        </fileExtensions>
	<denyUrlSequences>
	  <add sequence=".php" />
        </denyUrlSequences>
        <alwaysAllowedUrls>
          <add url="/piwik/index.php" />
          <add url="/piwik/piwik.php" />
          <add url="/piwik/js/index.php" />
          <add url="/piwik/misc/generateVisits.php" />
          <add url="/piwik/misc/redirectToUrl.php" />
        </alwaysAllowedUrls>
      </requestFiltering>
    </security>
    <directoryBrowse enabled="false" />
    <defaultDocument>
      <files>
        <remove value="index.php" />
        <add value="index.php" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
