<!DOCTYPE html>
<!--[if lt IE 9 ]>
<html class="old-ie" id="ng-app" ng-app="piwikApp"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html id="ng-app" ng-app="piwikApp"><!--<![endif]-->
    <head>
        <meta charset="utf-8">
        {% include "_jsGlobalVariables.twig" %}
        <!--[if lt IE 9]>
        <script language="javascript" type="text/javascript" src="libs/jqplot/excanvas.min.js"></script>
        <![endif]-->
        {% include "_jsCssIncludes.twig" %}
        <!--[if IE]>
        <link rel="stylesheet" type="text/css" href="plugins/Morpheus/stylesheets/ieonly.css"/>
        <![endif]-->
    </head>
    <body ng-app="app">
        <div class="widget">
            {{ content|raw }}
        </div>
    </body>
</html>
