<html>
<body>
<p>This text is after the JS INCLUDE</p>

<h2>Test tag cloud in a JS include</h2>

<div style="width:500px;">
    <script type="text/javascript" src="{{ url1 }}"></script>
    <noscript>Powered by <a href="http://piwik.org">Piwik</a></noscript>
</div>

<p>This text is after the JS INCLUDE</p>

<h2>Test calling the API in Javascript</h2>

<p>using a javascript include. This is a dirty way (much better to ajax call the API!) but an interesting show case.</P>
<script type="text/javascript" src="{{ url2 }}"></script>
<noscript>Powered by <a href="http://piwik.org">Piwik</a></noscript>
<p>This text is after the JS INCLUDE 2</p>
</body>
</html>
