<div class="infoviz-treemap" data-data="{{ generator.generate(dataTable)|json_encode }}">
    <img class="infoviz-treemap-zoom-out" style="visibility:hidden;" src="plugins/Zeitgeist/images/zoom-out.png"/>
</div>