{% include "@CoreHome/_warningInvalidHost.twig" %}

{% include "@CoreHome/_topScreen.twig" %}

<div class="ui-confirm" id="alert">
    <h2></h2>
    <input role="yes" type="button" value="{{ 'General_Ok'|translate }}"/>
</div>

