<div class="sparkline">
    {{ sparkline(urlSparkline1) }}
    Evolution of temperature for server piwik.org
</div>
<div class="sparkline">
    {{ sparkline(urlSparkline2) }}
    Evolution of temperature for server dev.piwik.org
</div>

