<div class="sparkline">
    {{ sparkline(urlSparkline1) }}
    Evolution of temperature for server matomo.org
</div>
<div class="sparkline">
    {{ sparkline(urlSparkline2) }}
    Evolution of temperature for server developer.matomo.org
</div>

