{assign var=showSitesSelection value=true}
{assign var=showPeriodSelection value=true}
{assign var=showMenu value=false}
{include file="CoreHome/templates/header.tpl"}

<div style="max-width:980px;">
    <p>{'Alerts_PluginDescription'|translate}</p>
    <br/><br/>
    {if count($alertList) > 0}
    <!-- Table of current alerts -->
    <table width="600px" id="dataTable entityTable">
        <thead>
	<tr>
            <th class="first">ID</th>
            <th>Name</th>
            <th>Period</th>
            <th>Report</th>
            <th colspan="2">Send Email?</th>
	</tr>
        </thead>
	<tbody>
        {foreach from=$alertList item=alert}
        <tr>
            <td>{$alert.idalert}</td>
            <td>{$alert.name}</td>
            <td>{$alert.period|ucfirst}</td>
            <td>{$alert.report}</td>
            <td>{if $alert.enable_mail==true}Yes{else}No{/if}</td>
            {assign var="idalert" value=$alert.idalert}
            <td><a href="{url module="Alerts" action="editAlert" idalert=$idalert}">Edit</a></td>
        </tr>
        {/foreach}
	</body>
    </table>
    {else}
        <p>{'Alerts_NoAlertsDefined'|translate}</p>
    {/if}
    <br />

    <a href="{url module="Alerts" action="addNewAlert"}">{'Alerts_CreateNewAlert'|translate}</a>

</div>