{% extends 'admin.twig' %}

{% set title %}{{ 'LanguagesManager_TranslationSearch'|translate }}{% endset %}

{% block content %}

    <div vue-entry="LanguagesManager.TranslationSearchPage"></div>

{% endblock %}
