<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p>{{ 'Login_PasswordResetCancelEmail1'|translate }}</p>
<p>{{ 'Login_PasswordResetCancelEmail2'|translate }}</p>
<p>{{ 'Login_PasswordResetCancelEmail3'|translate }}</p>
