{% extends '@Login/loginLayout.twig' %}

{% set pageTitle %}{{ 'Login_CancelPasswordResetRequestRemoved'|translate }}{% endset %}

{% block loginContent %}
    <div class="contentForm invitationForm">
        {% embed 'contentBlock.twig' with {'title': ('Login_CancelPasswordResetRequestRemoved'|translate)} %}
            {% block content %}
                <p>
                    {{ "Login_CancelPasswordResetRequestRemovedMessage"|translate }}
                    <br><br>
                    <span class="hints">{{ "Login_CancelPasswordResetRequestRemovedHints"|translate }}</span>
                </p>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
