{% extends '@Login/loginLayout.twig' %}

{% set pageTitle %}{{ 'Login_CancelPasswordResetRequestRemoved'|translate }}{% endset %}

{% block loginContent %}
    <div class="cancelResetPassword">
        {% embed 'contentBlock.twig' with {'title': ('Login_CancelPasswordResetRequestRemoved'|translate)} %}
            {% block content %}
                <p>{{ "Login_CancelPasswordResetRequestRemovedMessage"|translate }}</p>
                <div class="alert alert-info">
                    <strong>{{ "Login_SecurityTip"|translate }}</strong>:
                    {{ "Login_CancelPasswordResetSecurityTip"|translate }}
                </div>
            {% endblock %}
        {% endembed %}
    </div>
{% endblock %}
