{% extends '@Login/loginLayout.twig' %}

{% block loginContent %}
    <div class="contentForm invitationForm">
        <div class="card">
            <div class="notification system notification-success">
                <p> {{ "Login_DeclineInvitationInfo"|translate }}</p>
            </div>
        </div>
    </div>
{% endblock %}