{% if infoMessage is defined and infoMessage is not empty %}
    <p class="message">{{ infoMessage }}</p>
{% endif %}
{% if formErrors is defined and formErrors is not empty %}
    <p class="message_error">
        {% for data in formErrors %}
            <strong>{{ 'General_Error'|translate }}</strong>
            : {{ data }}
            <br/>
        {% endfor %}
    </p>
{% endif %}