<div class="card">
    <div class="card-content">
        {% if title is defined and title %}
            <h2 class="card-title"
                  {% if rate is defined and rate %}vue-entry="CoreHome.EnrichedHeadline"{% endif %}
            >{% block helpText %}{% endblock %}{{ title }}</h2>
        {% endif %}

        {% block content %}
        {% endblock %}
    </div>
</div>