{% extends 'layout.twig' %}

{% set title %}Matomo UI demo{% endset %}

{% block head %}
    {{ parent() }}

    <style>
        .grid-demo .row {
            font-size: 13px;
            margin-bottom: 15px;
        }
        .grid-demo [class^=col-] {
            padding-top: 10px;
            padding-bottom: 10px;
            background-color: #eee;
            border: 1px solid #ddd;
        }
        .demo {
            margin: 0 0 15px 0;
            background-color: #fff;
            border: solid 1px #ddd;
            border-radius: 4px 4px 0 0;
            padding: 25px;
        }
        .demo-code {
            padding: 9px 14px;
            background-color: #f7f7f9;
            border: 1px solid #e1e1e8;
            margin: -16px 0 15px;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }
        .demo-code pre {
            color: inherit;
            font-size: 14px;
            padding: 0;
            background-color: transparent;
            margin: 0;
        }
        .demo .div-block {
            max-width: 400px;
            margin-right: auto;
            margin-left: auto;
            min-height: 20px;
            padding: 19px;
            background-color: #f5f5f5;
            border: 1px solid #e3e3e3;
            border-radius: 4px;
        }
        .demo .form-group > h3 {
            margin-top: 0;
        }
        .demo-code + .demo {
            margin: -16px 0;
        }
        .icons h4 {
            padding-top: 15px;
            padding-bottom: 10px;
        }
        .icons .icon {
            font-family: monospace, monospace;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    </style>
{% endblock %}

{% block root %}

<div
    vue-entry="Morpheus.Demo"
    demo-snippets="{{ snippets|json_encode|e('html_attr') }}"
></div>

{% endblock %}
