<div class="widgetBody">
    <p>{{ 'Referrers_URLCampaignBuilderIntro'|translate(externallink('https://matomo.org/docs/tracking-campaigns-url-builder/'), '</a>', externallink('https://matomo.org/docs/tracking-campaigns/'), '</a>')|raw }}</p>
    <div vue-entry="Referrers.CampaignBuilder" has-extra-plugin="{{ hasExtraPlugin|json_encode|e('html_attr') }}"></div>
</div>