<div class="row">

    <div class="col-md-6">
        <h2 piwik-enriched-headline>{{ 'Referrers_Keywords'|translate }}</h2>
        {{ keywords|raw }}
    </div>

    <div class="col-md-6">
        <h2 piwik-enriched-headline>{{ 'Referrers_SearchEngines'|translate }}</h2>
        {{ searchEngines|raw }}
    </div>

</div>
