<div id='leftcolumn'>
    <h2 piwik-enriched-headline>{{ 'Referrers_Keywords'|translate }}</h2>
    {{ keywords|raw }}
</div>

<div id='rightcolumn'>
    <h2 piwik-enriched-headline>{{ 'Referrers_SearchEngines'|translate }}</h2>
    {{ searchEngines|raw }}
</div>
