<div id='leftcolumn'>
    <h2 piwik-enriched-headline>{{ 'Referrers_Websites'|translate }}</h2>
    {{ websites|raw }}
</div>

<div id='rightcolumn'>
    <h2 piwik-enriched-headline>{{ 'Referrers_Socials'|translate }}</h2>
    {{ socials|raw }}
</div>
