{% extends 'admin.twig' %}

{% set title %}{{ 'PrivacyManager_GDPR'|translate }}{% endset %}

{% block content %}
    <div matomo-manage-gdpr default-email-subject="{{ defaultSubject|json_encode }}" default-email-message="{{ defaultMessage|json_encode }}"></div>
{% endblock %}
