{% extends 'admin.twig' %}

{% set title %}{{ 'PrivacyManager_GDPR'|translate }}{% endset %}

{% block content %}
    <div piwik-content-block content-title="GDPR Overview">
        <p>GDPR is a new eoruopean law that applies from 25th May 2018. It applies to all companies ...
            it gives these rights...
        </p>
        <h3>Who does it affect?</h3>
        <p>It affects every company that...</p>
        <h3>Where do I get more information?</h3>
        <p>It affects every company that...</p>
        <h3>Can I configure Matomo to not track personal data so GDPR doesn't affect me?</h3>
        <p>Anonymize ...</p>
        <h3>Which rights does a user have?</h3>
        <h4>1. Rights to access data</h4>
        <p>
            Your visitors can..
        </p>
    </div>
{% endblock %}
