<div id='leftcolumn'>
    <h2 piwik-enriched-headline>{{ 'VisitTime_LocalTime'|translate }}</h2>
    {{ dataTableVisitInformationPerLocalTime|raw }}
</div>

<div id='rightcolumn'>
    <h2 piwik-enriched-headline>{{ 'VisitTime_ServerTime'|translate }}</h2>
    {{ dataTableVisitInformationPerServerTime|raw }}
</div>
