<div class="row">

    <div class="col-md-6">
        <h2 piwik-enriched-headline>{{ 'VisitTime_LocalTime'|translate }}</h2>
        {{ dataTableVisitInformationPerLocalTime|raw }}
    </div>

    <div class="col-md-6">
        <h2 piwik-enriched-headline>{{ 'VisitTime_ServerTime'|translate }}</h2>
        {{ dataTableVisitInformationPerServerTime|raw }}
    </div>

</div>
