processed-ui-screenshots/*.png
processed-ui-screenshots/**/*.png
processed-ui-screenshots
screenshot-diffs/*.png
screenshot-diffs/diff*.html
screenshot-diffs/jquery.js
screenshot-diffs/resemble.js
.idea/*
php_errors.log
config.js