{% for field in credentialfields %}
    <div piwik-field uicontrol="{{ field.type }}" name="{{ field.name }}"
         ng-model="credentials.{{ field.name }}"
         data-title="{{ field.title|translate|e('html_attr') }}"
         value="">
    </div>
{% endfor %}