<!DOCTYPE html>
<!--[if lt IE 9 ]>
<html class="old-ie"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html><!--<![endif]-->
    <head>
        {% block head %}
            <title>{{ siteName }} - {% if isCustomLogo == false %}Piwik &rsaquo; {% endif %} {{ 'CoreHome_WebAnalyticsReports'|translate }}</title>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
            <meta name="generator" content="Piwik - Open Source Web Analytics"/>
            <meta name="description" content="Web Analytics report for '{{ siteName }}' - Piwik"/>
            <link rel="shortcut icon" href="plugins/CoreHome/images/favicon.ico"/>
            {{ loadJavascriptTranslations(['CoreHome','Annotations'])|raw }}
            {% include "@CoreHome/js_global_variables.twig" %}
            <!--[if lt IE 9]>
            <script language="javascript" type="text/javascript" src="libs/jqplot/excanvas.min.js"></script>
            <![endif]-->
            {% include "@CoreHome/js_css_includes.twig" %}
            <!--[if IE]>
            <link rel="stylesheet" type="text/css" href="plugins/Zeitgeist/theme/ieonly.css"/>
            <![endif]-->
            {% include "@CoreHome/iframe_buster_header.twig" %}
        {% endblock %}
    </head>
    <body>
    {% include "@CoreHome/iframe_buster_body.twig" %}

    <div id="root">
        {% include "@CoreHome/index_before_menu.twig" %}

        {% block content %}
        {% endblock %}
    </div>

    {% include "@CoreHome/piwik_tag.twig" %}

    </body>
</html>
