{% extends 'admin.twig' %}

{% block topcontrols %}
    <div class="top_bar_sites_selector piwikTopControl">
        <div piwik-siteselector show-selected-site="true" class="sites_autocomplete"></div>
    </div>
{% endblock %}

{% block content %}
    <div piwik-custom-dimensions-manage></div>
{% endblock %}