<p>{{ 'SitesManager_SiteWithoutDataReactIntro'|translate('<a target="_blank" rel="noreferrer noopener" href="https://www.npmjs.com/package/@datapunt/matomo-tracker-react">matomo-tracker-react</a>','<a target="_blank" rel="noreferrer noopener" href="https://matomo.org/faq/new-to-piwik/{REACT}/">','</a>')|raw }}</p>
<br>
<p>{{ 'SitesManager_SiteWithoutDataCloudflareFollowStepsIntro'|translate }}</p>
<ol style="list-style: decimal;list-style-position: inside;">
    <li>Point1</li>
    <li>Point2</li>
</ol>