{% extends 'admin.twig' %}

{% set title %}{{ 'SitesManager_GlobalWebsitesSettings'|translate }}{% endset %}

{% block content %}

    <div vue-entry="SitesManager.ManageGlobalSettings"></div>

{% endblock %}
