{% extends 'admin.twig' %}

{% set title %}{{ 'SitesManager_WebsitesManagement'|translate }}{% endset %}

{% block content %}

    <div vue-entry="SitesManager.SitesManagement"></div>

{% endblock %}
