<h2 piwik-enriched-headline help-url="http://piwik.org/docs/manage-websites/">
    {{ 'SitesManager_WebsitesManagement'|translate }}
</h2>

<p>
    {{ 'SitesManager_MainDescription'|translate }}
    {{ 'SitesManager_YouCurrentlyHaveAccessToNWebsites'|translate("<strong>" ~ adminSitesCount ~ "</strong>")|raw }}
    {% if isSuperUser %}
        <br/>
        {{ 'SitesManager_SuperUserAccessCan'|translate("<a href='#globalSettings'>","</a>")|raw }}
    {% endif %}
</p>