{% extends "dashboard.twig" %}

{% block notification %}
    {% include "@CoreHome/_notifications.twig" %}
{% endblock %}

{% set bodyId = 'site-without-data' %}

{% block topcontrols %}
    {% if not isSingleSite %}
    {% include "@CoreHome/_siteSelectHeader.twig" %}
    {% endif %}
{% endblock %}

{% block content %}
    {% set additionalCtaEventContent %}{{ postEvent('Template.siteWithoutData.additionalCta') }}{% endset %}

    <div
        vue-entry="SitesManager.SiteWithoutData"
        additional-cta-content="{{ additionalCtaEventContent|json_encode }}"
        invite-user-link="{{ inviteUserLink|json_encode }}"
    ></div>

{% endblock %}
