{% extends "dashboard.twig" %}

{% block notification %}
    {% include "@CoreHome/_notifications.twig" %}
{% endblock %}

{% set bodyId = 'site-without-data' %}

{% block topcontrols %}
    {% if not isSingleSite %}
    {% include "@CoreHome/_siteSelectHeader.twig" %}
    {% endif %}
{% endblock %}

{% block content %}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            $('<div />').insertAfter('[vue-entry="SitesManager.SiteWithoutData"]').liveWidget({
                interval: 1000,
                onUpdate: function () {
                    // reload page as soon as a visit was detected
                    broadcast.propagateNewPage('date=today');
                },
                dataUrlParams: {
                    module: 'Live',
                    action: 'getLastVisitsStart'
                }
            });
        });
    </script>

    {% set additionalCtaEventContent %}{{ postEvent('Template.siteWithoutData.additionalCta') }}{% endset %}

    <div
        vue-entry="SitesManager.SiteWithoutData"
        additional-cta-content="{{ additionalCtaEventContent|json_encode }}"
        invite-user-link="{{ inviteUserLink|json_encode }}"
    ></div>

{% endblock %}
