{% set metadata = dataTable.getAllTableMetadata%}
{% set consideredVisits = 'Insights_TitleConsideredVisits'|translate(metadata.minValue, metadata.minValuePercent, metadata.totalValue, metadata.minGrowthPercent, metadata.lastDate|prettyDate(metadata.period)) %}

<div class="insightsDataTable" title="{{ consideredVisits|e('html_attr') }}">
    {% if dataTable.getRowsCount > 0 %}
        <table class="dataTable">
            <thead>
                {% include "@Insights/table_header.twig" %}
            </thead>

            <tbody>
                {% for row in dataTable.getRows %}
                    {% include "@Insights/table_row.twig" %}
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="pk-emptyDataTable">
            {{ 'Insights_NoResultMatchesCriteria'|translate }}
        </div>
    {% endif %}

    {% include "@Insights/insightControls.twig" %}
</div>