{% set allMetadata = reports.getFirstRow.getAllTableMetadata %}

{% set consideredVisits = 'Insights_TitleConsideredVisits'|translate(allMetadata.minGrowthPercent, allMetadata.lastDate|prettyDate(allMetadata.period)) %}
{% set consideredChanges = '' %}

{% if allMetadata.minChangeMovers or allMetadata.minIncreaseNew or allMetadata.minDecreaseDisappeared %}
    {% set consideredChanges = 'Insights_TitleConsideredChanges'|translate(allMetadata.minChangeMovers, allMetadata.minIncreaseNew, allMetadata.minDecreaseDisappeared, allMetadata.totalValue) %}
{% endif %}

<div class="insightsDataTable" title="{{ consideredVisits|e('html_attr') }} {{ consideredChanges|e('html_attr') }}">
    {% if reports.getColumns|length > 0 %}

        <table class="dataTable">
            {% for dataTable in reports.getDataTables() if dataTable.getRowsCount > 0 %}
                {% set metadata = dataTable.getAllTableMetadata %}

                <thead>
                    {% include "@Insights/table_header.twig" %}
                </thead>

                <tbody>
                    {% for row in dataTable.getRows %}
                        {% include "@Insights/table_row.twig" %}
                    {% endfor %}
                </tbody>

            {% endfor %}
        </table>

    {% else %}

        <div class="pk-emptyDataTable">
            {{ 'Insights_NoResultMatchesCriteria'|translate }}
        </div>

    {% endif %}
</div>