{% if adminMenu|length > 1 %}
    <div class="Menu Menu--admin">
        <ul class="Menu-tabList">
        {% for name,submenu in adminMenu %}
            {% if submenu._hasSubmenu %}
            <li>
                <span>{{ name|translate }}</span>
                <ul>
                {% for sname,url in submenu %}
                    {% if sname|slice(0,1) != '_' %}
                    <li>
                        <a href='index.php{{ url._url|urlRewriteWithParameters }}'
                           {% if currentAdminMenuName is defined and sname==currentAdminMenuName %}class='active'{% endif %}>{{ sname|translate }}</a>
                    </li>
                    {% endif %}
                {% endfor %}
                </ul>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>
{% endif %}
