<p>{{ 'General_HelloUser'|translate(login) }}</p>
<p>{{ 'CoreAdminHome_TrackingFailuresEmail1'|translate('<strong>'~numFailures~'</strong>')|raw }}</p>
<p>{{ 'CoreAdminHome_TrackingFailuresEmail2'|translate('<a href="'~trackingFailuresUrl~'">', '</a>')|raw }}</p>
