<div piwik-content-intro>
    <h2>{{ 'CoreAdminHome_WhatIsNewTitle'|translate|e('html_attr') }}</h2>
</div>
<div class="whatisnew">

    {% for newFeature in newFeatures %}

        {% embed '@CoreAdminHome/whatisnewblock.twig' with {'title': newFeature.title} %}
        {% block content %}
            {{ newFeature.description | raw }}
            {% if not newFeature.link is empty %}
            <p>
                <br>
                <a href="{{ newFeature.link }}" target="_blank">{{ newFeature.linkName }}</a>
            </p>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% endfor %}

</div>
