<div piwik-content-intro>
    <h2>{{ 'CoreAdminHome_WhatIsNewTitle'|translate|e('html_attr') }}</h2>
</div>
<div class="whatisnew">

    {% for change in changes %}

        {% embed '@CoreAdminHome/whatisnewblock.twig' with {'title': change.title} %}
        {% block content %}
            {{ change.description | raw }}
            {% if not change.link is empty %}
            <p>
                <br>
                <a href="{{ change.link }}" target="_blank">{{ change.linkName }}</a>
            </p>
            {% endif %}
        {% endblock %}
    {% endembed %}

    {% endfor %}

</div>
