<div class="card">
    <div class="card-content">
        <span style="float: left; font-size:32px; color:#3450A3; margin-right:10px" class="icon-new_releases"></span>

        <h2 class="card-title">{{ title }}</h2>

        {% block content %}
        {% endblock %}
    </div>
</div>