{% extends 'admin.twig' %}

{% macro humanReadableValue(value) %}

{% endmacro %}

{% block content %}
<div
    vue-entry="Diagnostics.ConfigFile"
    all-config-values="{{ allConfigValues|json_encode }}"
></div>
{% endblock %}
