<div id="transitions_report">

    <div ng-controller="TransitionSwitcherController as transitionSwitcher">
        <div piwik-field uicontrol="select" name="actionname"
             ng-model="transitionSwitcher.actionName"
             ng-change="transitionSwitcher.onChange(transitionSwitcher.actionName)"
             title="Page URL"
             full-width="true"
             value="{{ (pages|first).key|json_encode|raw }}"
             options='{{ pages|json_encode }}'>
        </div>
    </div>
    {% include "@Transitions/renderPopover.twig" %}
    <style type="text/css">
        #transitions_report .dropdown-content {
            z-index: 2000;
        }
    </style>

</div>
