<thead>
   <tr>
       {% for column in properties.columns_to_display %}
           <th class="{% if properties.enable_sort %}sortable{% endif %} {% if loop.first %}first{% elseif loop.last %}last{% endif %}" id="{{ column }}">
               {% if properties.metrics_documentation[column]|default is not empty %}
                   <div class="columnDocumentation">
                       <div class="columnDocumentationTitle">
                           {{ properties.translations[column]|default(column)|raw }}
                       </div>
                       {{ properties.metrics_documentation[column]|raw }}
                   </div>
               {% endif %}
               <div id="thDIV" class="thDIV">{{ properties.translations[column]|default(column)|raw }}</div>
           </th>
       {% endfor %}
   </tr>
</thead>
