<table cellspacing="0" class="dataTable">
    {% include "@CoreHome/_dataTableHead.twig" %}

    <tbody>
    {% for rowId, row in dataTable.getRows() %}
        {%- set rowHasSubtable = row.getIdSubDataTable() and properties.subtable_controller_action is not null -%}
        {%- set shouldHighlightRow = rowId == constant("Piwik_DataTable::ID_SUMMARY_ROW") and properties.highlight_summary_row -%}
        
        {# display this row if it doesn't have a subtable or if we don't replace the row with the subtable #}
        {% if not rowHasSubtable or not properties.show_expanded|default(false) or not properties.replace_row_with_subtable|default(false) %}
        <tr {% if rowHasSubtable %}id="{{ row.getIdSubDataTable() }}"{% endif %}
            class="{{ row.getMetadata('css_class') }} {% if rowHasSubtable %}subDataTable{% endif %}{% if shouldHighlightRow %} highlight{% endif %}">
            {% for column in properties.columns_to_display %}
                <td>
                    {% include "@CoreHome/_dataTableCell.twig" with properties %}
                </td>
            {% endfor %}
        </tr>
        {% endif %}
        
        {# display subtable if present and showing expanded datatable #}
        {% if properties.show_expanded|default(false) and rowHasSubtable %}
            {% include properties.subtable_template with {'dataTable': row.getSubtable()} %}
        {% endif %}
    {% endfor %}
    </tbody>
</table>