{% import 'ajaxMacros.twig' as ajax %}
<div class="pageWrap container-fluid">
<a name="main"></a>
    {% include "@CoreHome/_notifications.twig" %}
    <div class="top_controls">
        {% include "@CoreHome/_periodSelect.twig" %}
        {{ postEvent("Template.nextToCalendar") }}
        {% render dashboardSettingsControl %}
        {% include "@CoreHome/_headerMessage.twig" %}
        {{ ajax.requestErrorDiv(contactEmail|default(''), false, '', showMoreFaqInfo) }}
    </div>

    {{ ajax.loadingDiv() }}

    <div piwik-popover></div>

    <div id="content" class="home">
        {% if content %}{{ content }}{% endif %}
        <div piwik-reporting-page ng-cloak></div>
    </div>
    <div class="clear"></div>
</div>
