<strong>{{ 'General_NonProfilableDataTitle'|translate }}</strong>

<p>{{ 'General_NonProfilableDataMessage1'|translate }}</p>

<p>{{ 'General_NonProfilableDataMessage2'|translate(periodStr) }}</p>

<p><a href="" rel="noreferrer noopener" target="_blank">{{ 'General_NonProfilableDataMessage3'|translate }}</a></p>