<strong>Data is not Profilable</strong>

<p>Most of the data recorded for the selected period and measurable is not profilable, meaning we cannot accurately
track visitors across multiple visits. This is usually due to avoiding the use of cookies when tracking, and can
be a good choice if you don't need the data and want to very simply comply with privacy regulation.</p>

<p>But, some Matomo features depend on profilable data, and without it will be very inaccurate. To make sure this
features aren't used, they have been disabled.</p>

<p><a href="" rel="noreferrer noopener" target="_blank">Read more about this on our faq.</a></p>