<div vue-entry="CoreHome.ContentBlock" content-title="{{ title|translate|e('html_attr') }}" vue-components="CoreHome.VueEntryContainer">
    <vue-entry-container html="{{ content }}"></vue-entry-container>
</div>