<div class="top_bar_sites_selector {% if currentModule == 'CoreHome' %}sites_selector_in_dashboard{% endif %}">
    <label>{{ 'General_Website'|translate }}</label>
    <div piwik-siteselector class="sites_autocomplete"></div>

</div>