{% if not isSingleSite %}
<div class="top_bar_sites_selector piwikTopControl">
    <div vue-entry="CoreHome.SiteSelector" show-selected-site="true" show-all-sites-item="false" class="sites_autocomplete"></div>
</div>
{% endif %}
