{% if not isSingleSite %}
<div class="top_bar_sites_selector piwikTopControl">
    <div piwik-siteselector show-selected-site="true" show-all-sites-item="{{ isMultiSitesEnabled ? 'true' : 'false' }}" class="sites_autocomplete"></div>
</div>
{% endif %}
