<div id="header">
    <a href='#main' tabindex="0" class="accessibility-skip-to-content">{{'CoreHome_SkipToContent'|translate}}</a>
    {% include "@CoreHome/_logo.twig" %}
    {% include "@CoreHome/_topBar.twig" %}
</div>
