{% extends "dashboard.twig" %}
{% import 'ajaxMacros.twig' as ajax %}

{% block topcontrols %}
    {% include "@CoreHome/_siteSelectHeader.twig" %}
    {% include "@CoreHome/_periodSelect.twig" %}
    {{ postEvent("Template.nextToCalendar") }}
    {% render dashboardSettingsControl %}
    {% include "@CoreHome/_headerMessage.twig" %}
{% endblock %}

{% block content %}
    {{ ajax.requestErrorDiv(contactEmail|default(''), areAdsForProfessionalServicesEnabled, currentModule, showMoreFaqInfo) }}
    {{ ajax.loadingDiv() }}

    <div id="content" class="home">
        {% if content %}{{ content }}{% endif %}
        <div piwik-reporting-page ng-cloak></div>
    </div>
    <div class="clear"></div>

{% endblock %}

