{% extends "dashboard.twig" %}
{% block notification %}{% endblock %}
{% block content %}

{% include "@CoreHome/_siteSelectHeader.twig" %}

<div piwik-reporting-menu></div>
<div class="nav_sep"></div>

{% include "@CoreHome/_indexContent.twig" %}

{% endblock %}

