{% include "@CoreHome/warning_invalid_host.twig" %}

{% if (showTopMenu == false or showTopMenu) %}
    {% include "@CoreHome/top_bar.twig" %}
{% endif %}
{% include "@CoreHome/top_screen.twig" %}

<div class="ui-confirm" id="alert">
    <h2></h2>
    <input role="yes" type="button" value="{{ 'General_Ok'|translate }}"/>
</div>

