{% import 'ajaxMacros.twig' as ajax %}
<div class="page">
    <div class="pageWrap">
        <div class="nav_sep"></div>
        <div class="top_controls">
            {% include "@CoreHome/period_select.twig" %}
            {% include "@CoreHome/header_message.twig" %}
            {{ ajax.requestErrorDiv }}
        </div>

        {{ ajax.loadingDiv() }}

        <div id="content" class="home">
            {% if content %}{{ content }}{% endif %}
        </div>
        <div class="clear"></div>
    </div>
</div>

<br/><br/>