<div class="widgetBody quickLinks">
    <a href="{{ linkTo({'module': 'SitesManager', 'action': 'index', 'showaddsite': '1'}) }}">{{ 'SitesManager_AddSite'|translate|e }}</a><br/><br/>
    <a href="{{ linkTo({'module': 'UsersManager', 'action': 'index', 'showadduser': '1'}) }}">{{ 'UsersManager_AddUser'|translate|e }}</a>
    <br />
</div>