<div id="topBars">

    {% include "@CoreHome/top_bar_top_menu.twig" %}
    {% include "@CoreHome/top_bar_hello_menu.twig" %}

</div>

{% if showSitesSelection %}
    <div class="top_bar_sites_selector">
        <label>{{ 'General_Website'|translate }}</label>
        {% include "@CoreHome/sites_selection.twig" %}
    </div>
{% endif %}
