<?xml version="1.0" encoding="UTF-8"?>

<phpunit backupGlobals="true"
         backupStaticAttributes="false"
         bootstrap="bootstrap.php"
         colors="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         forceCoversAnnotation="false"
         mapTestClassNameToCoveredClassName="false"
         processIsolation="false"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         syntaxCheck="false"
         strict="false"
         verbose="true">

<php>
    <!--
        When copying this file to phpunit.xml, replace with the path to Piwik on localhost.
        If Piwik is available at http://localhost/dev/piwik/ replace @REQUEST_URI@ with /dev/piwik/
        NOTE: the REQUEST_URI should not contain "plugins" or "tests" in the PATH
    -->
    <server name="HTTP_HOST" value="localhost"/>
    <server name="REQUEST_URI" value="@REQUEST_URI@"/>
    <server name="REMOTE_ADDR" value="127.0.0.1"/>
</php>

<testsuites>
  <testsuite name="IntegrationTests">
      <directory>./Integration</directory>
  </testsuite>
  <testsuite name="PluginTests">
      <directory>./Plugins</directory>
      <directory>../../plugins/*/tests</directory>
  </testsuite>
  <testsuite name="CoreTests">
      <directory>./Core</directory>
  </testsuite>
  <testsuite name="UITests">
      <directory>./UI</directory>
  </testsuite>
</testsuites>

</phpunit>
