<div class="page-performance">
    <div class="graph">
        {{ graph|raw }}
    </div>
    <div class="alert alert-info">
        {{ metrics|raw }}
        <br />
        {{ 'General_Note'|translate }}: {{ 'PagePerformance_HelpNote'|translate('<a href="https://matomo.org/faq/how-to/how-do-i-see-page-performance-reports/" rel="noreferrer noopener" target="_blank">', '</a>')|raw }}
    </div>
</div>
