<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="generator" content="Piwik - Open Source Web Analytics"/>
    <link rel="shortcut icon" href="plugins/CoreHome/images/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="plugins/Overlay/stylesheets/showErrorWrongDomain.css" />
</head>
<body>
<p><strong>{{ message|raw }}</strong></p>

<p>{{ troubleshoot|raw }}</p>
</body>
</html>