<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="generator" content="Piwik - free/libre analytics platform"/>
    {% include "@CoreHome/_favicon.twig" %}
    <link rel="stylesheet" type="text/css" href="plugins/Overlay/stylesheets/showErrorWrongDomain.css" />
</head>
<body>
<p><strong>{{ message|raw }}</strong></p>

<p>{{ troubleshoot|raw }}</p>
</body>
</html>