<div piwik-content-block>
    <div class="sparkline">
        {{ sparkline(urlSparklineCountries) }}
        {{ 'UserCountry_DistinctCountries'|translate("<strong>"~numberDistinctCountries|number~"</strong>")|raw }}
    </div>
    <br style="clear:left"/>
</div>