<div
    vue-entry="UserCountry.GetDistinctCountries"
    url-sparkline-countries="{{ urlSparklineCountries|json_encode }}"
    number-distinct-countries="{{ (0 + numberDistinctCountries)|json_encode }}"
></div>
