<div piwik-content-block>
    <div class="sparkline">
        {{ sparkline(urlSparklineCountries) }}
	<div>
        {{ 'UserCountry_DistinctCountries'|translate("<strong>"~numberDistinctCountries|number~"</strong>")|raw }}
	</div>
    </div>
    <br style="clear:left"/>
</div>
