<div class="sparkline">
    {{ sparkline(urlSparklineCountries) }}
    {{ 'UserCountry_DistinctCountries'|translate("<strong>"~numberDistinctCountries~"</strong>")|raw }}
</div>
<br style="clear:left"/>