<p>{{ 'UsersManager_EmailChangedEmail1'|translate('<strong>' ~ accountName ~ '</strong>', '<strong>' ~ newEmail ~ '</strong>')|raw }}.</p>

<p>{{ 'UsersManager_EmailChangedEmail2'|translate(deviceName, ipAddress) }}</p>