{% extends 'admin.twig' %}

{% set title %}{{ 'General_Security'|translate }}{% endset %}

{% block content %}

    <div
        vue-entry="UsersManager.AddNewTokenSuccess"
        generated-token="{{ generatedToken|json_encode|e('html_attr') }}"
    ></div>

{% endblock %}
