{% extends 'admin.twig' %}

{% set title %}{{ 'UsersManager_ManageAccess'|translate }}{% endset %}

{% block content %}

<div piwik-content-intro>
    <h2
            piwik-enriched-headline
            help-url="https://matomo.org/docs/manage-users/"
            feature-name="Users Management"
    ><!-- TODO: translate -->
        Manage Users
    </h2>

    <p>
        Create new users or update the existing users. You can then set their permissions here too. There are currently <strong>1</strong> registered users.
    </p>
</div>

<piwik-users-manager>
</piwik-users-manager>

{% endblock %}
