{{ postEvent("template_headerVisitsFrequency") }}

<a name="evolutionGraph" graphId="VisitFrequencygetEvolutionGraph"></a>
<h2>{{ 'VisitFrequency_ColumnReturningVisits'|translate }}</h2>
{{ graphEvolutionVisitFrequency }}
<br/>

{% include "@VisitFrequency/_sparklines.twig" %}

{{ postEvent("template_footerVisitsFrequency") }}
