{{ postEvent("template_headerVisitsFrequency") }}

<h2 data-graph-id="VisitFrequencygetEvolutionGraph">{{ 'VisitFrequency_ColumnReturningVisits'|translate }}</h2>
    {{ graphEvolutionVisitFrequency|raw }}
<br/>

{% include "@VisitFrequency/_sparklines.twig" %}

{{ postEvent("template_footerVisitsFrequency") }}
