/**/*.example
/.dbimageBuild
/.ddev-docker-*.yaml
/.*downloads
/.homeadditions
/.importdb*
/.sshimageBuild
/.webimageBuild
/commands/.gitattributes
/config.local.y*ml
/config.*.local.y*ml
/db_snapshots
/mutagen/mutagen.yml
/mutagen/.start-synced
/nginx_full/nginx-site.conf
/postgres/postgresql.conf
/providers/acquia.yaml
/providers/lagoon.yaml
/providers/pantheon.yaml
/providers/platform.yaml
/providers/upsun.yaml
/sequelpro.spf
/traefik/config/matomo.yaml
/traefik/certs/matomo.crt
/traefik/certs/matomo.key
/*/**/README.*
