<div class="promoWidget">
    <div class="promo">
        <img class="icon" src="plugins/PiwikPro/images/promo.png">
        <p class="text">
            {{ ctaText }}
            <br /><br />
            <a class="btn" href="{{ ctaLinkUrl|e('html_attr') }}" target="_blank" rel="noreferrer">
                {{ ctaLinkTitle }}
            </a>
        </p>
    </div>
</div>