
* {
font-family:Trebuchet MS,arial,sans-serif;
}

textarea{
	font-family: Trebuchet MS, Verdana;
	font-size:0.85em;
	
}

#editSites{
	valign:top;
}

#access td, #users td
{ 
	spacing: 0px;
	padding: 2px 5px 5px 4px; 
	border: 1px solid #660000; 
	width:100px;
}


#ajaxError{
	color:red;
	text-align:center;
	font-weight:bold;
	width:550px;
	border: 3px solid red;
	margin: 10px;	
	padding: 10px;
}

#addrow img {
	 vertical-align:middle;
}
#addrow a {
	 text-decoration:none;
}

#accessUpdated{
	display:none;
	border:2px solid green;
	color:green;
	width:100px;
	text-align:center;
}
table {
 font-size:0.9em;
 font-family: Arial, Helvetica, verdana sans-serif;
 background-color:#fff;
 border-collapse: collapse;
}
thead th {
 border-right: 1px solid #fff;
 color:#fff;
 text-align:center;
 padding:2px;
 text-transform:uppercase;
 height:25px;
 background-color: #a3c159;
 font-weight: normal;
}
tbody tr {
 background-color:#fff;
 border-bottom: 1px solid #f0f0f0;
}
tbody td {
 color:#414141;
 padding:5px;
 text-align:left;
}
tbody th {
 text-align:left;
 padding:2px;
}
tbody td, tbody th{
 color:#6C8C37;
 text-decoration:none;
 font-weight:normal;
 background: transparent url(links_yellow.gif) no-repeat 0% 50%;
 padding-left:15px;
}
tbody td:hover, tbody th:hover {
 color:#009193;
 text-decoration:none;
}