/* reset style */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
form {margin: 0px; }
body {
	line-height: 1.33;
	background-color: white;
	color: black;
}
ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}
/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* start piwik styles */
body {
	font-family: Georgia, "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
}
a {
	color: #0F1B2E;
	text-decoration:underline;
	cursor:pointer;
}
#loadingPiwik {
	font-weight: bold;
	font-size: 1.1em;
	color: #193B6C;
	padding: 0.5em;
}
#loadingError {
	font-weight: bold;
	font-size: 1.1em;
	color: #F88D22;
	padding: 0.5em;
	margin-left: 30%;
	display: none;
}
#otherPeriods {
	display:none;
}	
#periodString #date, #periodString #periods, #periodString #date a, #periodString #periods a {
	color: #520202;
	font-size: 15pt;
	text-decoration:none;
}
#periodString #periods a:hover {
	text-decoration:underline;
}
#periodString {
	padding-top: 2em;
	margin-left: 350px;
	display: block;
}
#header_message {
	position: relative;
	float: right;
	text-align: left;
	margin-top: 10px;
	width: 300px;
	line-height: 1.33;
	border: 1px solid #FF7F00 ;	
	font-size: 0.9em;
	padding:5px;
	font-weight:bold; 
	right:10px;
}
#header_message, #header_message a { 
	color:#FF7F00; 
}
#topRightBar {
	padding: 0pt 0pt 4px; 
	font-size: 84%;
	float:right;
}
#topLeftBar {
	float: left;
	height: 22px;
	padding-left: 10px;
	width:650px; /* when this is not set, wrong display in safari/chrome? */
}
#topLeftBar, #topRightBar {
	font-family: arial, sans-serif !important;
	height: 20px;
	padding: 4px 10px 0px !important;
	background-color: #FFF;
	font-size: 13px;
	padding-top: 4px !important;
}
#logo {
	float: left;
	display: inline;
	font-size: 45pt;
	padding-left: 15px;
}
#javascriptDisable, #javascriptDisable a {
	font-weight: bold;
	color: #F88D22;
	padding-left:1em;
	clear:both;
}
.topBarElem {
	height: 22px;
	margin-right: 0.73em;
	vertical-align: top;
	color: #000;
	margin-bottom: 0px;
}
#tooltip h3 {
	font-weight: normal;
	font-size:1em;
	color:#162540;
	margin:0;
	padding:0;
}
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	padding:7px;
	background-color:#F5F7FF;
	opacity:0.95;
}
.tableForm {
	border-spacing:0;
}
.tableForm td {
	border-color:#FFF #C6CDD8 #C6CDD8 #C6CDD8;
	border-style:solid;
	padding:0.5em 0.5em 0.5em 0.8em;
	border-width:10px 1px 1px 1px;
	color:#203276;
}
.tableForm input {
	font-size:1.1em;
	border-color:#CCC #999 #999 #CCC;
	border-width:1px;
	color:#3A2B16;
	padding:0.15em;
}
.tableForm .submit {
	text-align:center;
}
.submit input{
	margin-top:15px;
	background:transparent url(./images/background-submit.png) repeat scroll 0%;
	font-size:1.4em;
	border-color:#CCC #999 #999 #CCC;
	border-style:double;
	border-width:3px;
	color:#333;
	padding:0.15em;
}
#ajaxError {
	color: red;
	text-align: center;
	font-weight: bold;
	width: 550px;
	border: 3px solid red;
	margin: 10px;
	padding: 10px;
}
