* {
	font-family: Georgia, Trebuchet MS, arial, sans-serif;
}

img {
	vertical-align: baseline;
}

a {
	font-size: 12px;
	color: black;
}

textarea {
	font-size: 0.85em;
}

#ajaxError {
	color: red;
	text-align: center;
	font-weight: bold;
	width: 550px;
	border: 3px solid red;
	margin: 10px;
	padding: 10px;
}


table.admin {
	font-size: 0.9em;
	font-family: Arial, Helvetica, verdana sans-serif;
	background-color: #fff;
	border-collapse: collapse;
}

table.admin thead th {
	border-right: 1px solid #fff;
	color: #fff;
	text-align: center;
	padding: 2px;
	text-transform: uppercase;
	height: 25px;
	background-color: #a3c159;
	font-weight: normal;
}

table.admin tbody tr {
	background-color: #fff;
	border-bottom: 1px solid #f0f0f0;
}

table.admin tbody td {
	color: #414141;
	padding: 5px;
	text-align: left;
}

table.admin tbody th {
	text-align: left;
	padding: 2px;
}

table.admin tbody td, table.admin tbody th {
	color: #536C2A;
	text-decoration: none;
	font-weight: normal;
	padding-left: 15px;
}

table.admin  tbody td:hover, table.admin  tbody th:hover {
	color: #009193;
	text-decoration: none;
}

#submit input {
	font-size: 2em;
	border-top: 2px solid #8cb648;
	border-left: 2px solid #8cb648;
	border-bottom: 2px solid #4a6026;
	border-right: 2px solid #4a6026;
	background-color: #6c8c37;
	color: #fff;
}

#submit {
	padding-top: 10px;
	padding-left: 70px;
}

.warning {
	border: 1px dotted gray;
	padding: 15px;
	font-size: .8em;
}

.warning ul {
	margin-left: 50px;
}

.access_error {
	font-size: .7em;
	padding: 15px;
}

#content h2 {
border-bottom-color:#DADADA;
color:#666666;
-x-system-font:none;
border-bottom-style:solid;
border-bottom-width:1px;
clear:both;
font-family:Georgia,"Times New Roman",Times,serif;
font-size:24px;
font-size-adjust:none;
font-stretch:normal;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
margin:5px 0pt 0pt -4px;
padding:0pt 280px 7px 0pt;
}
#content {
margin:0pt 15px;
padding:0pt;
}