/* reset style */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
abbr {
	border-bottom: 1px dotted;
}
form {margin: 0; }
body {
	line-height: 1.33;
	background-color: white;
	color: #333;
}
ol,ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}
label {
	cursor:pointer;
}

/* IE < 9 will use this */
html.old-ie .ie-hide { 
	display: none; 
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* br clear="all" deprecated */
br.clearAll {
	clear: both;
	height: 0;
	line-height: 0;
	font-size: px; /*for IE*/
}
br.clear, div.clear{ 
	clear:both;  
	height:0;
	overflow:hidden; 
}

/* start piwik styles */
body {
	font-family: Arial, Verdana, Arial, Helvetica, sans-serif;
	font-size: 1em;
}
a {
	color: #255792;
	text-decoration:underline;
	cursor:pointer;
}


.loadingPiwik {
	font-size: 1.1em;
	color: #444;
	padding: 0.5em;
}
.loadingPiwik img {
	margin-right:5px;
}

.loadingSegment {
    color: grey;
    display: block;
    font-size: 10pt;
    margin-left: 28px;
    display:none;
}

#loadingError {
	font-weight: bold;
	font-size: 1.1em;
	color: #F88D22;
	padding: 0.5em;
	margin-left: 30%;
	display: none;
}

#root {
	margin:0 10px; 
	position:relative; 
}

.top_controls{ 
	position:relative; 
	height:32px;
	.z-index:9999;
}

.top_controls_inner{ 
	position:relative; 
	height:32px; 
	padding-bottom:20px;
}

#periodString {
	display:block;
	color:#444;
    font-size:14px;
    border: 1px solid #e4e5e4;
    padding:5px 30px 6px 10px;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    float:left;
    margin-right:12px;
    z-index:999;
    position:absolute;
    background-color: #f7f7f7;
}
#periodString:hover {
	background-color:#f1f0eb;
	border-color:#a9a399;
}
#periodString .calendar-icon {
  width: 13px;
  height: 15px;
  display:inline-block;
  position:absolute;
  right:9px;
  top:7px;
  background: url("images/icon-calendar.gif") no-repeat scroll;
  cursor:pointer;
}
#periodString #date{
	cursor:pointer;
	padding:5px 10px 6px 10px;
	margin:-5px -10px -6px -10px;
	
}
#periodString #date img{
	vertical-align:middle; 
	margin:0 0 0 6px;
}
#periodString b{
	color:#255792;
}
#periodString h6{
	font-size:14px;
	padding:0 0 4px 0;
}

#periodMore{
	padding:6px 0 0 0;
	display:none; 
}

#periodString .period-date,#periodString .period-range{
	float:left; 
	padding:0 16px 0 0;
}
#periodString .period-type{
	float:left; 
	padding:0 20px 0 0;
}	
#periodString .period-type input{

}
#periodString .period-type label{
	font-size:12px;
	display:inline-block; 
	padding: 2px 0 3px 0;
	vertical-align:top; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}
#periodString label.selected-period-label {
	text-decoration: underline;
}

/* About Piwik box top right */
#header_message {
	z-index:0;
	cursor:default; 
	position: absolute;
	right:4px;
	overflow:hidden; 
	display:block; 
	height:20px;
	line-height:20px;
	padding:5px 8px 5px 38px;
	font-size: 14px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
#header_message:hover, #header_message.active {
	width:auto;
	height:auto; 
	z-index:35;
}
#header_message .header_short{ display:block; white-space:nowrap;  }
#header_message .header_full{ display:none; }
#header_message:hover .header_short,
#header_message.active .header_short { display:none; } 
#header_message:hover .header_full,
#header_message.active .header_full { display:block; }

.header_full {
	padding-bottom:5px;
	line-height:1.7em;
}
/* Orange alerts box */
.header_alert {
	background:#FFFDF7 url(images/ico_alert.png) no-repeat 7px 4px;
	border: 1px solid #FF7F00 ;	
	font-weight:bold;
}
.header_alert , .header_alert  a { 
	color:#FF7F00; 
}

/* Blue info box */
.header_info {
	background:#FAFAFA url(images/ico_info.png) no-repeat 7px 4px;
	border: 1px solid #CBD9EB ;	
}
.header_info , .header_info  a { 
	color:#444;
}

#header{ padding:5px 0 0 0; min-height:60px; }

#logo {
	display: block;
	height:40px;
}

/*sites_autocomplete*/
.sites_autocomplete{
	position: absolute;
	font-size:12px;
	display: inline-block;
}
.top_bar_sites_selector{ 
	position:absolute; 
	top:65px; 
	right:0;
	z-index:20;
}
.top_bar_sites_selector>label{
	display:inline-block; 
	padding:7px 0 6px 0;
	float:left; 
	font-size:12px;
}
.top_bar_sites_selector>.sites_autocomplete{
	position:static;
	padding-left: 12px;
}
.autocompleteMatched {
	color:#5256BE;
	font-weight:bold;
}

.sites_autocomplete .custom_select{
	float:left; 
	position:relative; 
	z-index:19;
	padding:6px 6px 5px 6px;
	background:#fff url(images/sites_selection.png) repeat-x 0 0;
	border: 1px solid #d4d4d4;	
	color:#255792;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	/*white-space:nowrap;*/
}

.sites_autocomplete .custom_select_main_link{
	padding:0 20px 0 4px;
	display:block; 
	text-decoration:none; 
	background: url(images/sort_subtable_desc.png) no-repeat right 0;
}

.sites_autocomplete .custom_select_main_link.noselect{
    padding:0 8px;
    display:block; 
    text-decoration:none; 
    background: none;
}

.sites_autocomplete .custom_select_loading{
	background: url(images/loading-blue.gif) no-repeat right 3px;
}

.sites_autocomplete .custom_select_ul_list,.sites_autocomplete ul.ui-autocomplete{
	position:relative;
	list-style:none;
	line-height:18px;
	padding: 0 0 15px 0;
}
.sites_autocomplete .custom_select_ul_list li a,.sites_autocomplete .custom_select_all a {
	line-height:18px;
	padding:0 20px 0 4px;
	height:auto;
	display:block;
	text-decoration:none; 
}
.sites_autocomplete .custom_select_ul_list li a:hover,.sites_autocomplete .custom_select_all a:hover{
	background:#ebeae6;
}

.sites_autocomplete .custom_select_all a{
	text-decoration:none;
	margin: 0 0 5px 0;
}

.sites_autocomplete .custom_select_search {
	margin:0 0 0 4px;
	height:26px;
	display: block;
	white-space: nowrap;
	background:  url(images/search_bg.png) no-repeat 0 0;
}

.sites_autocomplete .custom_select_search .inp {
	vertical-align:top;
	width:114px;
	padding:2px 6px;
	border:0;
	background:transparent;
	font-size:10px;
	color:#454545;
	
}

.sites_autocomplete .custom_select_search .but {
	vertical-align:top; 
	font-size:10px;
	border:0;
	background:transparent;
	width:21px;
	height:17px;
	overflow:hidden; 
	opacity:0;
	filter:Alpha(opacity:0);
	cursor:pointer;
}

.sites_selector_container>.sites_autocomplete{
	padding-left: 12px;
}

.custom_select_block{ height:0; overflow:hidden; }
.custom_select_block_show{ height:auto; overflow:visible;padding-top:5px;  }


.siteSelect a {
    white-space:normal;
    text-align:left;
}

/*------------------------*/


#javascriptDisabled, #javascriptDisabled a {
	font-weight: bold;
	color: #F88D22;
	padding:15px;
	clear:both;
}
#topBars{ 
	position:absolute; 
	top:0; 
	right:0; 
	z-index:40; 
	color:#9c9c9c; 
	white-space:nowrap; 
}

#topRightBar {
	float:left;
	padding:0 0 0 30px;
}
#topLeftBar {
	float: left;
	height: 22px;
}
#topLeftBar, #topRightBar {
	font-family: arial, sans-serif !important;
	height: 20px;
	background-color: #FFF;
	font-size: 13px;
	padding-top: 4px !important;
}
.topBarElem {
	padding:0 5px;
}



#tooltip h3 {
	font-weight: normal;
	font-size:.85em;
	font-style: italic;
	color:#162540;
	margin:0;
	padding:0;
}
#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #E4E2D7 /*#111*/;
	padding:5px 7px 5px 7px;
	background-color:#F5F7FF;
	opacity:0.95;
}
.tableForm {
	border-spacing:0;
}
.tableForm td {
	border: 1px solid #C6CDD8;
	border-top: 10px #FFF;
	padding:0.5em 0.5em 0.5em 0.8em;
	color:#203276;
}
.tableForm input {
	font-size:1.1em;
	border-color:#CCC #999 #999 #CCC;
	border-width:1px;
	color:#3A2B16;
	padding:0.15em;
}
.tableForm .submit {
	text-align:center;
}

.ajaxError {
	color: red;
	text-align: center;
	font-weight: bold;
	width: 550px;
	border: 3px solid red;
	margin: 10px;
	padding: 10px;
	border-radius:9px;
	-moz-border-radius:9px;
	-webkit-border-radius:9px;
}
.ajaxSuccess {
	font-size:14px;
	margin:10px;
	padding:15px ;
	color:#301901;
	display:inline-block;
	background-color: #ffffe0;
	border: 1px solid #e6db55;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
/* extending the jquery UI css, for visitor Log popover */
.ui-widget .dataTable {
    font-size: 14px;
}
/* for inline help */
.ui-widget {
    text-align:justify;
}

.ui-inline-help {
	padding:0.7em;
	width:170px;
	margin-top:20px;
	font-size:8pt;
	line-height:140%;
}
div.ui-state-highlight {
	border-color:#545903;
	background-color:#FFFFD6;
}

.ui-datepicker{ 
	border: 1px solid #fff!important;
	border-radius:0!important;
	-moz-border-radius:0!important;
	-webkit-border-radius:0!important;
	font-size:11px!important; 
	padding:0!important;
	width:160px!important;
}

.ui-datepicker-header{ 
	background:#847b6d url(images/dashboard_h_bg_hover.png) repeat-x 0 0!important;
	color:#fff!important;
	border-radius:0!important;
	-moz-border-radius:0!important;
	-webkit-border-radius:0!important;
}
.ui-datepicker select {
	padding:0;	
}

.ui-datepicker-header .ui-icon-circle-triangle-w{ 
	background: url(images/datepicker_arr_l.png) no-repeat 5px 4px!important;
}

.ui-datepicker-header .ui-icon-circle-triangle-e{ 
	background: url(images/datepicker_arr_r.png) no-repeat 6px 4px!important;
}

.ui-datepicker .ui-datepicker-next-hover, 
.ui-datepicker .ui-datepicker-prev-hover{ background:none!important; border-color:#f1f0eb!important;}

.ui-datepicker table{ 
	font-size:11px !important; 
	margin:0 !important;
}
.ui-datepicker th{ 
	color:#887f71!important;
	font-weight:normal!important; 
	background:#f1f0eb!important;
	padding:3px 0!important;
}
.ui-datepicker th.ui-datepicker-week-end{background:#d4d0c7!important;}

.ui-datepicker td{ 
	padding:0 !important;
}

.ui-state-default{ 
	border:1px solid #f2f6f9!important;
	border-right:0!important;
	background:#fff!important;
	color:#000!important;
	text-align:center!important; 
}
.ui-datepicker td.ui-datepicker-week-end .ui-state-default{background:#f6f6f6!important;}

.ui-datepicker td.ui-datepicker-current-period a.ui-state-default, td .ui-state-active, .ui-datepicker td.ui-datepicker-current-period a.ui-state-active, .ui-datepicker td.ui-datepicker-week-end .ui-state-active, .ui-datepicker td.ui-datepicker-other-month.ui-datepicker-current-period{
	border-color:#887f71!important;
	background:#887f71!important;
	color:#fff!important;
	opacity:1!important;
}

.ui-datepicker td .ui-state-hover, .ui-datepicker .ui-datepicker td.ui-datepicker-current-period a.ui-state-hover, .ui-datepicker td.ui-datepicker-week-end .ui-state-hover{ 
	background:#e5e3e0!important;
	color:#000!important;
}

.ui-datepicker td.ui-datepicker-current-period .ui-state-default.ui-state-hover, .ui-datepicker td.ui-datepicker-current-period .ui-state-hover:hover {
	background:#978c7c!important;
	border-color:#978c7c!important;
}

td.ui-datepicker-other-month.ui-state-hover {
	background:#e5e3e0!important;
	color:#000!important;
	opacity:1!important;
	border-style: none;
	cursor:pointer!important;
}

td.ui-datepicker-other-month.ui-state-hover.ui-datepicker-current-period{
	background:#978c7c!important;
}

.ui-datepicker-month:disabled {
	border-color:#ccc!important;
	background:#f5f3f0!important;
}

.centerLargeDiv { 
	width:850px; 
	margin:auto;
}
.center {
	margin:auto;
	text-align:center;
	padding-bottom:10px;
}
textarea {
	font-size: 1em;
}
.widget .entityContainer {
	width:100%;
}
.widget .sparkline {
	margin-left:5px;	
}
/* Main div for the Form and tables */

input, select, textarea {  
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:1px solid #d4d4d4;
	background:#fff url(images/inp_bg.png) repeat-x 0 0;
	padding:3px 10px;
	color:#255792;
	margin-bottom:3px;
}
input[disabled] {
    background: #E9E9E9 none;
    font-style:italic;
}

select {  
	padding-right:3px;
	padding-left:7px;
	margin-right:6px;
}

.submit {
	clear:both; 
	color:#fff;
	font:18px Arial, Helvetica, sans-serif;
	padding:3px 10px;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border:0;
	background:#847b6d url(images/dashboard_h_bg_hover.png) repeat-x 0 0;
	float:right; 
	margin:12px 0 10px 0;
	cursor:pointer;
}
/* on admin screen, Save button aligned on the left */
.admin .submit {
	margin-left:50px;
	float:none;
}

.admin .entityContainer .submit {
	margin:0;
}
.entityContainer .link_but {
	white-space:nowrap;
	display:inline-block; 
	margin:0 10px 0 0;
	text-decoration:none;
}
.entityContainer .link_but img{
	white-space:nowrap; 
	margin:0 1px 0 0!important;
}
.entityAddContainer .entityTable th, #entityEditContainer .entityTable th, #entityEditContainer .entityTable td{ 
	vertical-align:middle!important; 
}

.entityAddContainer .entityTable tr td.first{
	font-weight:bold;
}
.entityAddContainer tr:hover{ 
	background:none!important;
}

/* Add / Edit / List entities */
.entityContainer {
	width:800px;
	font-size:14px;
}
.entityInlineHelp {
	color:#9B9B9B;
	margin-top:5px;
}
.entityTable { 
	border-radius:4px!important;
	-moz-border-radius:4px!important;
	-webkit-border-radius:4px!important;
	border-top:1px solid #cdc8bf!important;
	border-bottom:1px solid #948c7d!important;
}
.entityTable tr th {
	font-size:16px;
}
.entityTable tr td.first, .entityTable tr th.first{ 
	border-left:0!important;
	vertical-align:middle;
}
.entityTable tr th{ 
	white-space:nowrap; 
	padding-top:10px!important;
	padding-bottom:10px!important;
}
.entityTable tr td, .entityTable tr th{ 
	border-bottom:0!important;
	border-top:1px solid #E7E7E7!important;
}
table.entityTable tr td a {
	text-decoration:underline;
}
.entityTable tr.highlighted td {
	background-color: #ECF9DD;
}

/* cancel button below Forms */
.entityCancel {
	float:right; 
	clear:both; 
	padding:10px 0;
	font-size:12px;
}


/* List with grey arrows on left */
.entityList ul.listCircle{
	font-weight:normal; 
	list-style:none;
	padding:4px 0;
}
.entityList ul li{
	background:#fff url(images/li_dbl_gray.gif) no-repeat 6px 10px;
	padding:0 0 0 21px;
	line-height:22px;
}
.entityList ul li .dimension{
	cursor:pointer;
	border-bottom:1px solid #d0d0d0;
}
.entityList ul li.activeDimension .dimension {
	font-weight: bold;
	border:0;
}

.entityList ul.listCircle li a { 
	color:#000;
}


/* Piwik jQuery UI Tooltips */

.ui-tooltip {
	position: absolute;
	z-index: 2000;
	text-align: left;
	background: #f7f7f7;
	color: #444;
	font-size: 12px;
	font-weight: normal; 
	border: 1px solid #e4e5e4;
	padding: 5px 10px 6px 10px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px; 
	-moz-box-shadow: 1px 1px 2px #666;
	-webkit-box-shadow: 1px 1px 2px #666;
	box-shadow: 1px 1px 2px #666;
	overflow: hidden;
    max-width: 600px;
   	min-width: 50px;
    line-height: 14px;
	left: -28000px;
	top: -28000px;
	display: none;
	font-family: Arial, Helvetica, sans-serif; 
}

.ui-tooltip h3 {
	font-weight: bold;
	color: #7E7363;
}

.ui-tooltip h3 {
	font-size: 12px;
	margin: 0 0 2px 0;
}

body .ui-tooltip.small {
    font-size: 11px;
    padding: 3px 5px 3px 6px;
}



/* Popover */

.ui-dialog .ui-widget-header {
	background: none; 
	border: 0; 
	font: bold 18px Arial, Helvetica, sans-serif; 
	color: #7e7363;	
	clear: both;
}

.ui-dialog-titlebar-help {
	position: absolute;
	right: 33px;
	top: 50%;
	width: 16px;
	margin: -8px 0 0 0;
	padding: 0;
	height: 16px;
	background: url(images/help.png);
	overflow: hidden;
}

.section-toggler-link {
	font-size:.8em;
	font-style:italic;
	text-decoration:none;
}
.section-toggler-link:hover {
	text-decoration:underline;
}

.metricEvolution {
    display:inline-block;
    font-size:9pt;
    opacity:0.75;
}

.reportsByDimensionView > .entityList {
	float: left;
	width: 220px; 
	min-height:450px;
}
.dimensionCategory {
	margin-top:10px;
}
