.ui-dialog.ui-widget-content {
	z-index: 1003!important;
}

.ui-widget-overlay {
    z-index: 1002!important;
}

.widgetContent {
	width: 99.8%;
	overflow: hidden;
}

#topBars {
    z-index: 300!important;
}

.sites_autocomplete, .sites_autocomplete .custom_select {
    z-index: 200!important;
}

.custom_select_block{ visibility: hidden; }
.custom_select_block_show{ visibility:visible; }

.submit {
    height: 30px;
}

input[type=checkbox], input[type=radio] {
    border: none;
    background: transparent none;
}

.jqplot-seriespicker {
	background: url(images/chart_line_edit_bg.png) no-repeat center center;
}

.jqplock-seriespicker-popover p input {
	width: 15px;
	margin: 0;
	padding: 0;
}


/**
 * IE7 fixes
 */

/* position of sub nav */
*+html .pageWrap {
	padding-top: 0!important;
}
*+html .nav_sep {
	margin-top: 0!important;
}

*+html .ui-confirm.ui-widget-content {
    padding-top: 0;
}

* html .ui-autocomplete {
    height: 400px;
}

