#languageSelect {
    max-height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0!important;
    background:#FFF;
    border: 1px solid #1F447F!important;
}

#languageSelection .ui-autocomplete-input {
    background:#FFF url('images/sortdesc.png') no-repeat right center!important;
    padding: 2px 18px 2px 4px;
    color:#255792!important;
    text-decoration: none;
    font-size: 13px!important;
}

#languageSelect .ui-autocomplete-input:hover {
    text-decoration: underline;
}

#languageSelect a{
    text-decoration:none!important;
    padding: 1px 25px 1px 3px!important;
}

#languageSelect a:hover{
    background:#176999!important;
    color:#FFF!important;
}

code {
	background-color:#F6F9F9;
	border: 1px dashed;
	border-left: 5px solid  #4B4BD5;
	direction:ltr;
	display:table;
	font-size:100%;
	margin:12px 2px 0;
	padding:5px 50px 5px 15px;
	text-align:left;
	line-height:1.3em;
	font-family: "Courier New" Courier monospace;
}
