{% extends 'admin.twig' %}

{% block content %}

    <div class="pluginslistActionBar">

        <h2>Enjoy another look & feel by installing a new theme</h2>

        <div class="infoBox">
            Piwik is not the owner of these Themes and did not review them.
        </div>

        {% include "@CorePluginsAdmin/browsePluginsActions.twig" %}
    </div>

    {% if not isSuperUser %}
        <div class="pluginslistNonSuperUserHint">
            You can browse the list of themes that can be installed to customize the appearance of the Piwik platform.
            Please contact your administrator to get any of these installed for you.
        </div>
    {% endif %}

    <div class="pluginslist themes">

        {% if plugins|length %}
            {% for plugin in plugins %}

                <div class="plugin">
                    <div class="content">
                        {% include "@CorePluginsAdmin/themeOverview.twig" %}
                    </div>

                    <div class="footer">
                        {% include "@CorePluginsAdmin/pluginMetadata.twig" %}
                    </div>
                </div>

            {% endfor %}
        {% else %}
            No themes found
        {% endif %}

    </div>
{% endblock %}
