{% extends 'admin.twig' %}

{% import '@CorePluginsAdmin/macros.twig' as plugins %}

{% block content %}
    <div style="max-width:980px;">

        <h2>Extend Piwik with Plugins and Themes</h2>

        <p>This page will let you download and install new Plugins from the Plugins Marketplace.
            The <a href='?module=Proxy&action=redirect&url=http://plugins.piwik.org/' target='_blank'>Marketplace</a> is where
                developers publish their plugins and themes to make them available to all Piwik users.</p>

        <em>Note: all plugins are available for free at present; in the future we will enable Paid Plugins in the Marketplace
            (<a href='mailto:hello@piwik.org?subject=Marketplace - Sell Plugin'>contact us</a> for early access).
        </em>
    </div>

    <div>

        <div style="width:50%;float:left;">
            <h3>Get new functionality</h3>
            by <a href="#new">installing a new plugin</a>

            <p>
                <a href="#new"><img src="" width="250" height="250"/></a>
            </p>

            <p>or <a href="#">write your own plugin</a></p>
        </div>

        <div style="width:50%;float:left;">
            <h3>Enjoy another look & feel</h3>
            by <a href="#new">installing a new theme</a>

            <p>
                <a href="#new"><img src="" width="250" height="250"/></a>
            </p>

            <p>or <a href="#">design your own theme</a></p>
        </div>
    </div>
{% endblock %}
