
{% block content %}

    <div style="max-width:980px;">

        {% if errorMessage %}
            {{ errorMessage }}
        {% elseif plugin %}
            {{ plugin.detailPageHtml|raw }}
        {% endif %}
    </div>

{% endblock %}
